* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background-color: #F9004D;
    border-radius: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
}

header.sticky{
    background-color: black;
}

header > section {
    /*background: black;*/
    display: flex;
    height: 9.7vh;
}

.top-bar-logo {
    /*border: 1px solid black;*/
    width: 10%;
    display: flex;
    align-items: center;
}

.top-bar-logo img {
    /*border: 1px solid red;*/
    width: 15%;
    margin-left: 5vw;
}

.top-bar-links {
    /*border: 1px solid black;*/
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.top-bar-links ul {
    display: flex;
}

.top-bar-links ul li {
    list-style: none;
    display: inline-block;
    /*border: 1px solid greenyellow;*/
    padding: 1rem;
    /*position: relative;*/
}

.top-bar-links ul li a {
    color: whitesmoke;
}

/*.top-bar-links ul li:first-child > a {*/
/*    color: #F9004D;*/
/*}*/

.top-bar-links ul li a:hover {
    color: #F9004D;
}

.top-bar-links ul li a:after {
    content: "";
    /*position: absolute;*/
    background-color: #F9004D;
    /*border-bottom: 3px solid #F9004D;*/
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.top-bar-links ul li a:hover:after {
    width: 100%;
}

.top-bar-social {
    /*border: 1px solid black;*/
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-social ul {
    display: flex;
    margin-right: 3vw;
}

.top-bar-social ul li {
    display: inline-block;
    /*border: 1px solid red;*/
    padding: 10px;
}

.top-bar-social ul li i {
    color: white;
}

.top-bar-social ul li i:hover {
    color: #F9004D;
}