* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header > section {
    background: deepskyblue;
    display: flex;
    height: 9.7vh;
}

.top-bar-logo{
    border: 1px solid black;
    width: 10%;
    display: flex;
    align-items: center;
}

.top-bar-logo img {
    border: 1px solid red;
    width: 15%;
    margin-left: 5vw;
}

.top-bar-links {
    border: 1px solid black;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.top-bar-links ul{
    display: flex;
}

.top-bar-links ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid red;
}

.top-bar-links ul li a{
    color: whitesmoke;
    padding: 1rem;
}

.top-bar-social {
    border: 1px solid black;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-social ul{
    display: flex;
}

.top-bar-social ul li {
    display: inline-block;
    border: 1px solid red;
    padding: 10px;
}