* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background-color: #F9004D;
    border-radius: 5px;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 2;
}


header > section {
    background: black;
    display: flex;
    height: 9.7vh;
    box-shadow: 0 -2px 5px 1px #A0A5EB;
}

.top-bar-logo {
    width: 10%;
    display: flex;
    align-items: center;
}

.top-bar-logo img {
    width: 15%;
    margin-left: 5vw;
}

.top-bar-links {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.top-bar-links ul {
    display: flex;
    height: 100%;
}

.top-bar-links ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    height: 100%;
    position: relative;
}

.top-bar-links ul li a {
    color: whitesmoke;
}

.top-bar-links ul li:first-child > a {
    color: #F9004D;
}

.top-bar-links ul li a:hover {
    color: #F9004D;
}

.top-bar-links ul li a:after {
    content: "";
    position: absolute;
    background: #F9004D;
    height: 3px;
    width: 0;
    bottom: 0;
    margin: auto;
    display: block;
    transition: 0.4s;
}

.top-bar-links ul li a:hover::after {
    width: 100%;
}

.top-bar-social {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-social ul {
    display: flex;
    margin-right: 3vw;
}

.top-bar-social ul li {
    display: inline-block;
    padding: 10px;
}

.top-bar-social ul li i {
    color: white;
}

.top-bar-social ul li i:hover {
    color: #F9004D;
}


/*main*/
/*landing page*/
.dev-content {
    background: url("../image/portfolio27.jpg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: center;
}

.dev-content > aside {
    color: white;
    position: absolute;
    top: 40vh;
    font-family: 'Poppins', sans-serif;
    margin-left: 5vw;
    font-size: 20px;
}

.dev-content > aside h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

.dev-content > aside > h1:nth-child(2) {
    margin-top: 40px;
}

.dev-content > aside > h1:nth-child(3) {
    color: #F9004D;
}

/*.dev-content > aside > h1:last-child {*/
/*    font-size: 2em;*/
/*}*/

.dev-content > aside > h2 {
    margin: 10px 0;
}

.dev-content > aside > h6 {
    font-size: 0.8em;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #A0A5EB;
}

/*about-me*/

.about-me {
    height: calc(100vh - 9.7vh);
    /*background: rgba(00,00,00, 0.9);*/
    background: black;
    position: relative;
}

.about-me img {
    height: calc(100vh - 9.7vh);
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.about-me > section {
    display: flex;
    justify-content: right;
}

.about-me > section > article {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 50vw;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: relative;
}

.about-me > section > article h1:first-child {
    color: white;
    font-size: 2.4em;
    margin-top: 100px;
    font-weight: bolder;
    z-index: 1;
}

.about-me > section > article h1:nth-child(2) {
    color: #1A1A1A;
    font-size: 5.2em;
    position: absolute;
    top: 100px;
    left: -23px;
    margin: auto;
    z-index: 0;
    font-weight: bolder;
}

.about-me > section > article p {
    color: slategray;
    font-weight: initial;
    margin-right: 5vw;
    font-size: 16px;
    text-align: justify;
    margin-top: 10vh;
    line-height: 25px;
}

.about-me > section > article button {
    width: 150px;
    margin-top: 10vh;
    font-size: 14px;
    font-weight: initial;
    background: #F9004D;
    color: white;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}


/*My Skills*/

.skills {
    background: black;
    /*border: 1px solid red;*/
    height: 150vh;
}

.skills aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.skills aside h1:first-child {
    color: white;
    font-size: 2.4em;
    margin: 0;
    padding-top: 50px;
    z-index: 1;
}

.skills aside h1:nth-child(2) {
    color: #1A1A1A;
    font-size: 5.2em;
    margin: 0;
    position: relative;
    top: -50px;
    z-index: 0;
}

.skills > section:nth-child(2) {
    width: 80vw;
    height: 70vh;
    /*border: 1px solid yellow;*/
    margin: auto;
    background: black;
}

.skills > section:nth-child(2) > div:first-child {
    display: flex;
    align-items: center;
}

.language div:first-child > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: initial;
    font-size: 16px;
    color: lightblue;
    padding: 10px 10px 10px 0;
    flex-basis: 8%;
}

.line1 {
    width: 100vw;
    height: 1px;
    background: lightblue;
    flex-basis: 92%;
    /*position: relative;*/
    /*border: 1px solid yellow;*/
}

/*.line1::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    height: 2px;*/
/*    background: lightblue;*/
/*    width: 100%;*/
/*}*/

.skills > section:nth-child(2) > aside {
    /*width: 80vw;*/
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*border: 1px solid red;*/
    /*gap: 10px 0;*/
}

.skills > .language > aside > div {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills > .language > aside > div h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: slategray;
    letter-spacing: 1px;
    margin-top: 150px;
    font-size: 14px;
    /*border-bottom: 2px solid #F9004D;*/
}

.skills > .language > aside > div > div {
    height: 2px;
    width: 50px;
    background: #F9004D;
    /*border: 1px solid red;*/
    margin: auto;
}

.language > aside > div:nth-child(1) {
    background: url("../image/java.png") no-repeat center;
    background-size: 40px;
}

.language > aside > div:nth-child(2) {
    background: url("../image/python.png") no-repeat center;
    background-size: 30px;
}

.language > aside > div:nth-child(3) {
    background: url("../image/mysql.png") no-repeat center;
    background-size: 30px;
}

.language > aside > div:nth-child(4) {
    background: url("../image/c-sharp.png") no-repeat center;
    background-size: 30px;
}

.language > aside > div:nth-child(5) {
    background: url("../image/web-development.gif");
    background-size: cover;
    grid-column: 5/6;
    grid-row: 1/4;
    width: 500px;
}

.language > aside > div:nth-child(6) {
    background: url("../image/html.png") no-repeat center;
    background-size: 30px;
}

.language > aside > div:nth-child(7) {
    background: url("../image/css.png") no-repeat center;
    background-size: 30px;
}

.language > aside > div:nth-child(8) {
    background: url("../image/js.png") no-repeat center;
    background-size: 30px;
}

.language > aside > div:nth-child(9) {
    background: url("../image/dart.png") no-repeat center;
    background-size: 30px;
}

.tools {
    width: 80vw;
    height: 25vh;
    /*border: 1px solid yellow;*/
    margin: 50px auto;
    background: linear-gradient(black, #282828, black);
}

.tools > div:first-child {
    /*border: 1px solid blueviolet;*/
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.tools > div:first-child h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: initial;
    font-size: 16px;
    color: lightblue;
    flex-basis: 15%;
}

.line2 {
    flex-basis: 85%;
    height: 1px;
    background: lightblue;
}

.tools > div:nth-child(2) {
    display: flex;
    width: 100%;
    margin-top: 10px;
    /*border: 1px solid white;*/
}

.tools > div:nth-child(2) > div {
    /*border: 1px solid orange;*/
    width: 100%;
    height: 100px;
}

.tools > div:nth-child(2) > div:nth-child(1) {
    background: url("../image/figma.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(2) {
    background: url("../image/intellij.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(3) {
    background: url("../image/sceneBuilder.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(4) {
    background: url("../image/vs.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(5) {
    background: url("../image/androidStudio.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(6) {
    background: url("../image/flutter.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(7) {
    background: url("../image/hibernate.png") center no-repeat;
    background-size: 30px;
}

.tools > div:nth-child(2) > div:nth-child(8) {
    background: url("../image/ps.png") center no-repeat;
    background-size: 30px;
}


/*Education*/

.education {
    height: 120vh;
    background: black;
}

.education > aside {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.education > aside > h1:first-child {
    margin: 0;
    color: white;
    font-size: 2.4em;
    text-align: center;
    z-index: 1;
}

.education > aside > h1:last-child {
    margin: 0;
    color: #1A1A1A;
    font-size: 5.2em;
    position: relative;
    top: -50px;
    text-align: center;
    z-index: 0;
}

.education > aside:nth-child(2) {
    width: 80vw;
    height: 80vh;
    /*border: 2px solid red;*/
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}


.education > aside:nth-child(2) > div {
    /*border: 1px solid yellow;*/
    padding-left: 80px;
}

.education > aside:nth-child(2) > div:first-child {
    background: url("../image/mobile-app-development.gif") no-repeat center;
    background-size: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
}

.colleges > div:nth-child(2) {
    display: flex;
    align-items: center;
}

.colleges > div:nth-child(2) > div:first-child {
    border: 60px solid transparent;
    border-right-color: #101010;
    width: 0;
    height: 0;
}

.colleges > div:nth-child(2) > div:nth-child(2) {
    width: 350px;
    height: 120px;
    background: #101010;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.higher > h5 {
    color: #F17E7E;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    padding: 20px;
}

.colleges > div:nth-child(2) > div:nth-child(3) {
    width: 60px;
    height: 60px;
    background: #F9004D;
    border-radius: 30px;
    position: relative;
    right: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colleges > div:nth-child(2) > div:nth-child(3) > div:first-child {
    background: url("../image/higher.png") center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 60%;
    border-radius: 25px;
}

.lineOne {
    width: 1px;
    height: 80px;
    background: white;
    position: absolute;
    top: 120%;
}


.colleges > div:nth-child(4) {
    display: flex;
    align-items: center;
    position: relative;
}

.colleges > div:nth-child(4) > div:first-child {
    border: 60px solid transparent;
    border-right-color: #101010;
    width: 0;
    height: 0;
}

.colleges > div:nth-child(4) > div:nth-child(2) {
    width: 350px;
    height: 120px;
    background: #101010;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.colleges > div:nth-child(4) > div:nth-child(3) {
    width: 60px;
    height: 60px;
    background: #F9004D;
    border-radius: 30px;
    position: relative;
    right: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colleges > div:nth-child(4) > div:nth-child(3) > div {
    background: url("../image/primary.png") center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 60%;
    border-radius: 25px;
}


.colleges > div:nth-child(3) {
    display: flex;
    align-items: center;
}

.colleges > div:nth-child(3) > div:first-child {
    border: 60px solid transparent;
    border-right-color: #101010;
    width: 0;
    height: 0;
}

.colleges > div:nth-child(3) > div:nth-child(2) {
    width: 350px;
    height: 120px;
    background: #101010;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.colleges > div:nth-child(3) > div:nth-child(3) {
    width: 60px;
    height: 60px;
    background: #F9004D;
    border-radius: 30px;
    position: relative;
    right: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colleges > div:nth-child(3) > div:nth-child(3) > div:first-child {
    background: url("../image/secondary.png") center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 60%;
    border-radius: 25px;
}

.lineTwo {
    width: 1px;
    height: 80px;
    background: white;
    position: absolute;
    top: 120%;
}

.colleges > div:nth-child(2), .colleges > div:nth-child(3), .colleges > div:nth-child(4) {
    /*padding-left: 100px;*/
}

