body {
    height: 100vh;
    background: linear-gradient(#3F2FEF, #9134EC);
}

main > section {
    background: #1D1F32;
}

.navbar {
    background: #313151;
}

.navbar-brand img {
    color: #F9004D;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #313151;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    color: #313151;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color: white;
}

.nav-link {
    color: white;
}

.homepage {
    background: red;
}

.home-section {
    padding: 60px;
}

.card {
    width: 80%;
    background: #313151;
}

.card-img-top {
    width: 40%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.card-title {
    color: white;
    margin-bottom: 30px;
}