.nav-link {
    color: #c4d6f1;
}

section:nth-child(2) {
    height: 400px;
    /*border: 1px solid red;*/
}

section:nth-child(2) > div {
    /*border: 1px solid blue;*/
    background: #131420;
}

section:nth-child(2) > div:hover {
    background: #131420;
}

.btn-outline-success {
    color: #c4d6f1;
    border: 1px solid #c4d6f1;
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover {
    background-color: #131420;
}

section:nth-child(2) > div > div:hover{
    background: #4e4eff !important;
    cursor: pointer;
}

.nav-link:hover {
    color: white;
}