* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #1A1C23;
}

.top-bar>img{
    width: 40px;
    margin: 30px;
}

.top-bar-links ul li {
    display: inline-block;
}

.top-bar-links ul li a {
    text-decoration: none;
}