* {
    margin: 0;
    padding: 0;
}

#bg {
    width: 100%;
    height: 100vh;
    background-image: url("../img/forest3.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

#ninja {
    width: 120px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.box {
    width: 250px;
    height: 200px;
    background-image: url("../img/dragon1.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    bottom: 0;
}