* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: max-content;
    border-bottom: 3px solid white;
    padding-bottom: 9px;
    font-family: 'Poppins', sans-serif;
}

#btnContainer > button {
    font-family: Roboto, serif;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#btnContainer > button:hover {
    background: greenyellow;
    cursor: pointer;
}

#btnContainer {
    position: absolute;
    display: flex;
    width: 95vw;
    left: 0;
    right: 0;
    margin: auto;
    top: 350px;
    justify-content: center;
}

#display {
    width: 90%;
    height: 50vh;
    border: 1px solid red;
}

#container {
    display: flex;
    width: 90vw;
    /*height: 30px;*/
    border: 1px solid red;
    margin: auto;
    top: 250px;
    left: 0;
    right: 0;
    position: absolute;
}

#container > div {
    width: 200px;
    height: 30px;

}
