body {
    background-color: black;
}

h1 {
    color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: max-content;
    border-bottom: 3px solid white;
    padding-bottom: 9px;
    font-family: 'Poppins', sans-serif;
}

#btnContainer > button {
    font-family: Roboto, serif;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#btnContainer > button:hover {
    background: greenyellow;
    cursor: pointer;
}

#btnContainer {
    position: absolute;
    display: flex;
    width: 95vw;
    left: 0;
    right: 0;
    margin: auto;
    top: 350px;
    justify-content: center;
}